ORIGIN=http://localhost:4000
DB_USERNAME=cravee-backend-e3o2
DB_PASSWORD=local

JWT_SECRET_KEY=c5bd9e2a29151245f82b42b15d3817fd725fd65cfa9be0e05e846cdf38b3d8ea #staging token

AWS_S3_BUCKET_NAME=cravee-staging
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_SES_ACCESS_KEY_ID=
AWS_SES_ACCESS_KEY=

FIREBASE_PRIVATE_KEY_ID=
